* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.home-container {
    object-fit: cover;
    background: white center/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.text-container {
    text-align: center;
    border-radius: 4px;
    background: white;
    margin-top: 20px;
    margin-left: 5px;
    width: 90%;
    height: 90%;
}

.home-container > p {
    align-self: center;
}

:root {
    --primary: black;
}

.btn {
    background: #798071;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    display: inline-block;
}

    .btn:hover {
        transition: all 0.3s ease-out;
        background: #FF4848;
        color: Black;
        transition: 250ms;
    }

.btn--primary {
    background-color: var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #FF4848;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: #FF4848;
}

.btn--large {
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: #FF4848;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}